html{
    width: 100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    margin:0;
    
   
}
.header1{
  font-size: 37px;
  font-family: Anton-Regular;
    display:flex;
    justify-content: space-between; 
    
    
    height: 50px;
    padding: 40px;
    color: #e1e1e1;
    /* background-color:#d01110; */
    /* background-color:#3c3c3c; grey */
    background-color:    #2a566f;

 


}

.flex-wrap{
    display: flex;
    width:100%;
}
.sidebar{
  display: flex;
  /* hieght: 800px */
  /* hieght: 1250px; */
    height:auto;
    width:20%;
    padding: 20px;
    color: white;
    background-color: #8d8d8d;
    /* background-color: #976653; */
}

.sidebar-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.sidebar-nav li{
  margin: 20px;
  padding: 10px;
  /* background-color: black; */
  color: white;
}
.body1{
    /* background-color: #e5cfb0; */
    /* background-color: #dadada; */
    /* background-color: #2a566f; */
    /* background-color:#254c62; dark blue */

    background-color:#e0e0e0;

    width:100%;
    padding: 20px;
}
/* footer{
  background-color: #393939;
    
    color: #fff2cf;
    height: 40px;
} */
a{
    
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 19px;
  font-family: Anton-Regular;

}

a:hover{
color: rgb(221, 221, 221);
transition:0.5s;

}

/* table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color:  #ffe4a3 ;
}
th{
  background-color: #ddbf86;
}

  td,th{
    border:1px solid black;
    
    text-align: left;
    padding: 5px;
  }
  tr:nth-child(odd){
    background-color: #fff2cf;
  
}
/* THis is of "Table" of User Massnagement page CSS*/
/* .blue{
  color: blue;
  margin: 5px;
}

.blue:hover{
  color: white;
}

.red{
  color: red;
  
}

.red:hover{
color: white;
}

.adser{
  color: black;
}

.adser:hover{
color: white;
}

.detailyo {
  color: black;
}
.detailyo:hover{
color: white;
}

.label-danger{
  color: red;
} */ 

/* form css starts */
/* input[type=text], select { */
  input[type=text], input[type=password], select {
    width: 50%;
    padding: 5px ;
    margin: 5px 0;
  }

  /* css of login ye */
  p{
    font-size:15px;
    text-decoration: none;
    
  }
  
  h1{
    font-size:1.5em;
    color:#ffffff;
  }
  
  .box{
    background:#a6a6a6;
    width:300px;
    border-radius:6px;
    margin: 10% 35%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right:3%;
  
  
    border: 1px solid black;
  }

  .boxppp{
    background:#c9c9c9;
    width:1000px;
    padding: 25px;
    /* border-radius:6px;
    margin: 5% 35%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right:3%; */
  
  
    border: 2px solid black;
  }
  
  .email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  
  .btn-l{
    background:#d01110;
    width:125px;
    padding-left: 25%;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2e7f4f 1px solid;
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:26px;
    font-weight:800;
    font-size:0.8em;
  }

  
  
  #btn2{
    float:right;
    background:#969696;
    width:125px;  padding-top:5px;
    height: 25px;
    padding-bottom:5px;
    color: black;
    border-radius:4px;
    border: #2980b9 1px solid;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    
    font-size: 16px;
  }
  
  #btn2:hover{ 
  background:#ffffff; 
transition:0.5s;

  }
  /* logout */
  .logout{
    color: black;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
/* message box */
  .message{
    color: red;
  }

  
  .btnno{
    color: red;
  }


  /* ____________________________This is Boxy streaming_________________________________ */
  .posters{
    height: 266px; 
    width: 173px; 
    /* 400 by 260px; and 200 by 130px; 266.66/173.33*/
    box-shadow: #8d8d8d;
    transition: box-shadow 0.3s ease-in-out;
    
  }
 .posters:hover{
    border: rgb(0, 0, 0) 3px solid;
    box-shadow: 10px 10px 20px black;
    }


.title{
  /* color: #dedede;white cream */
  color: #000000;

}
  /* .side {
    flex: 30%;
    background-color: grey;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 12px;
  }
  .side2 {
    flex: 30%;
    background-color: grey;
    background-repeat: no-repeat;
    background-attachment: flex;
    background-size: cover;
    padding: 5px;
  } */
   
  .solid{
    font-size: 12px;
    color: #000000;
    
  }


  .boxy{
    /* border: rgb(0, 0, 0);
    border-width:  119px; */
    /* background-color: rgba(255, 255, 255, 0.781); */
 
    /* max-height: 610px;
    min-height: 610px; */
   
    width: 190px;
    margin: 10px;
    /* float: left;   */

    /* border:rgb(0, 0, 0); */
    /* border-style: solid; */
    }

    

    .flex-box{
      display: flex;
      flex-wrap: wrap;
    }

    .accordion {
    background-color: #A90000;
    color: white;
    cursor: pointer;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;;
    width: 100%;
    border: black;
    border-style: solid;
    border-radius: 0px;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
  
  }
  .active, .accordion:hover {
    background-color: red; 
  }
  
  /* .panel { 
    padding: 10px;
    display: none;
    background-color: rgb(32, 165, 14);
    overflow: hidden;
  } */
  img {
    
  
    margin-right: auto;
  }
  
  /* .footer {
    padding: 20px;
    text-align: center;
    background: #A90000;
    color: white;
  }
   */
  .insta {
      background-color: #A90000;
      color: white;
      cursor: pointer;
      padding: 5px;
      border: black;
      border-radius: 2px;
      text-align: left;
  
  }
  
  .active, .insta:hover {
    background-color: red; 
  }

  /* background-color: #0a0a00;
  /* background-color: #fff2cf; */
  /* color: #fff2cf;
  height: 40px; */ 
.footer{
  background-color:#000000;

  /* background:#303030;#254c62 */

  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:#a8bbb0;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:#a8bbb0;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#ff0000;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:600px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  
  }
  .img{
    width:150px;
  }
/* __________FONT CSS_________________________ */
@font-face {
  font-family: Anton-Regular;
  src: url(../public/Anton-Regular.ttf);
}

.Anton-Regular{
  font-family: Anton-Regular;

}
.logbod{
  /* background-color: #e5cfb0; */
  background-color: #dadada;
  width:100%;
  padding: 20px;
}

.about{
  text-decoration-color: black;
  text-size-adjust: 15px;
}